<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="width: 400px; height: 200px; background-color: blue">
      <video style="width: 100%; height: 100%" id="video" autoPlay controls></video>
    </div>
    <div>
      <button id="videoBtn">播放</button>
    </div>


    <div>
      <input type="file" id="file">
    </div>

    <script>

      const video = document.querySelector('#video')
      const input = document.querySelector('#file')

      function getVideo() {
        const mediaSource = new MediaSource()
        
        video.src = URL.createObjectURL(mediaSource)

        mediaSource.addEventListener('sourceopen', () => {
          const sourceBuffer = mediaSource.addSourceBuffer('video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

          fetch("http://127.0.0.1:9543/video")
          .then(buffer => buffer.arrayBuffer()).then((data) => {
            console.log(data);
            sourceBuffer.appendBuffer(data)
          });
        });
    
      }

      const btn = document.querySelector("#videoBtn");
      btn.addEventListener("click", function () {
        getVideo();
      });





      input.addEventListener('change', e => {
        let files = e.target.files
        if(files) {
          let chunks = createFileChunks(files[0])

          chunks.forEach(chunk => {
            let formData = new FormData()
            formData.append('file', chunk.file)
            formData.append('filename', chunk.filename)


            fetch('/upload', {
              method: 'post',
              body: formData
            })

          })

        }
      })



      function createFileChunks(file, chunkSize = 20) {
        let chunks = []
        let start = 0
        let i = 0

        let size = Math.ceil(file.size / 30)

        while(start < file.size) {
          chunks.push({
            filename: `${++i}_${file.name}`,
            file: new File([file.slice(start, (start = start + size))], `${++i}_${file.name}`)
          })
        }
        return chunks
      }


      const req = {
        post: (url, formData) => {
          return fetch({
            url,
            method: 'post',
            body: formData
          })
        }
      }
    </script>
  </body>
</html>
